<a href="https://colab.research.google.com/github/christophermalone/stat360/blob/main/Handout12_MLR_PartA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Handout #12 : Multiple Linear Regression - Part A

<table width='100%' ><tr><td bgcolor='green'></td></tr></table>

## Grandfather Clocks

Consider the following data from an auction site regarding the price of grandfather clocks.   Most grandfather clocks are considered to be antiques.  The goal is to understand the auction price as a function of Age and Number of Bidders.
<table>
  <tr>
    <td width='50%'>
      <ul>
        <li>Response Variable: Price ($)</li><br>
        <li>Variables under investigation (i.e. independent variables)</li>
        <ul>
          <li>Age: Age of grandfather clock</li>
          <li>Number of Bidders</li>
         </ul>
    </ul>
    </td>
    <td width='50%'>
    <p align='center'><img src="https://drive.google.com/uc?export=view&id=1wI9yLroxTYfky6Weymd5_aO-hOJiMO_F" width="25%" height="25%"></img></p>
      
  </td>
</tr>
</table>

Data Folder: [OneDrive](https://mnscu-my.sharepoint.com/:f:/g/personal/aq7839yd_minnstate_edu/EmOQfrwxzzRBqq8PH_8qTmMBy-1qKgM11Hb8vzjs025EEA?e=wyShYs)



<table width='100%' ><tr><td bgcolor='green'></td></tr></table>

## Load tidyverse

The tidyverse R package will be used to assist with reading in the dataset into the current R session.

In [ ]:
#@title Load Tidyverse
#load tidyverse package
library(tidyverse)



---

## Load the data

In [ ]:
# Reading data in using read_csv 
 GrandfatherClocks <- read_csv("http://www.StatsClass.org/stat360/Datasets/Grandfather_Clocks.csv")

Rows: 32 Columns: 3

── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
dbl (3): Price, Age, Number_Bidders


ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

Taking a quick look at the data...

In [ ]:
head(GrandfatherClocks)

  Price Age Number_Bidders
1 1235  127 13
2 1080  115 12
3  845  127  7
4 1522  150  9
5 1047  156  6
6 1979  182 11

## Model Considerations

A total of three models will be considered here.


1.   Model #1: Price ~ Age
2.   Model #2: Price ~ NumberBidders
3.   Model #3: Price ~ Age + NumberBidders

### Model #1: Price ~ Age

In [ ]:
Model_Age <- lm(Price ~ Age, data=GrandfatherClocks)
summary(Model_Age)

Call:
lm(formula = Price ~ Age, data = GrandfatherClocks)

Residuals:
    Min      1Q  Median      3Q     Max
-485.29 -192.66   30.75  157.21  541.21

Coefficients:
            Estimate Std. Error t value Pr(>|t|)
(Intercept)  -191.66     263.89  -0.726    0.473
Age            10.48       1.79   5.854  2.1e-06 ***
---
Signif. codes:  0 ‘***’ 0.001 ‘**’ 0.01 ‘*’ 0.05 ‘.’ 0.1 ‘ ’ 1

Residual standard error: 273 on 30 degrees of freedom
Multiple R-squared:  0.5332,	Adjusted R-squared:  0.5177
F-statistic: 34.27 on 1 and 30 DF,  p-value: 2.096e-06

### Model #2: Price ~ NumberBidders

In [ ]:
Model_NumberBidders <- lm(Price ~ Number_Bidders, data=GrandfatherClocks)
summary(Model_NumberBidders)

Call:
lm(formula = Price ~ Number_Bidders, data = GrandfatherClocks)

Residuals:
    Min      1Q  Median      3Q     Max
-516.31 -355.27  -29.49  302.76  688.23

Coefficients:
               Estimate Std. Error t value Pr(>|t|)
(Intercept)      806.40     230.68   3.496  0.00149 **
Number_Bidders    54.64      23.23   2.352  0.02540 *
---
Signif. codes:  0 ‘***’ 0.001 ‘**’ 0.01 ‘*’ 0.05 ‘.’ 0.1 ‘ ’ 1

Residual standard error: 367.2 on 30 degrees of freedom
Multiple R-squared:  0.1557,	Adjusted R-squared:  0.1276
F-statistic: 5.534 on 1 and 30 DF,  p-value: 0.0254

### Model #3: Price ~ Age + NumberBidders

In [ ]:
Model_Age_and_NumberBidders <- lm(Price ~ Age + Number_Bidders, data=GrandfatherClocks)
summary(Model_Age_and_NumberBidders)

Call:
lm(formula = Price ~ Age + Number_Bidders, data = GrandfatherClocks)

Residuals:
   Min     1Q Median     3Q    Max
-207.2 -117.8   16.5  102.7  213.5

Coefficients:
                 Estimate Std. Error t value Pr(>|t|)
(Intercept)    -1336.7221   173.3561  -7.711 1.67e-08 ***
Age               12.7362     0.9024  14.114 1.60e-14 ***
Number_Bidders    85.8151     8.7058   9.857 9.14e-11 ***
---
Signif. codes:  0 ‘***’ 0.001 ‘**’ 0.01 ‘*’ 0.05 ‘.’ 0.1 ‘ ’ 1

Residual standard error: 133.1 on 29 degrees of freedom
Multiple R-squared:  0.8927,	Adjusted R-squared:  0.8853
F-statistic: 120.7 on 2 and 29 DF,  p-value: 8.769e-15



---



---

## Confidence Intervals for Model Parameters

In [ ]:
confint(Model_Age_and_NumberBidders)

               2.5 %       97.5 %
(Intercept)    -1691.27514 -982.16896
Age               10.89062   14.58177
Number_Bidders    68.00986  103.62040

## Correlation Matrix

In [ ]:
cor(GrandfatherClocks)

               Price     Age        Number_Bidders
Price          1.0000000  0.7302332  0.3946404
Age            0.7302332  1.0000000 -0.2537491
Number_Bidders 0.3946404 -0.2537491  1.0000000

End of Document